---
layout: archive
permalink: /blog/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_blog %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture blog %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if blog != written_blog %}
    <h2 id="{{ blog | slugify }}" class="archive__subtitle">{{ blog }}</h2>
    {% capture written_blog %}{{ blog }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
