---
layout: archive
title: "Talk about my journeys"
permalink: /collections/
author_profile: true
---

{% include base_path %}
{% capture written_blog %}'None'{% endcapture %}
{% for collection in site.collections %}
  {% capture blog %}{{ collection.date | date: '%Y' }}{% endcapture %}
  {% if blog != written_blog %}
    <h2 id="{{ blog | slugify }}" class="archive__subtitle">{{ blog }}</h2>
    {% capture written_blog %}{{ blog }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}