---
layout: archive
title: "Talk about my journeys"
permalink: /collections/
author_profile: true
---

{% include base_path %}
{% capture written_blog %}'None'{% endcapture %}
{% for post in site.collections %}
  {% capture blog %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if blog != written_blog %}
    <h2 id="{{ collections | slugify }}" class="archive__subtitle">{{ collections }}</h2>
    {% capture written_blog %}{{ collections }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}