{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="profile-card" itemscope itemtype="http://schema.org/Person">

  <div class="profile-card__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
    {% endif %}
  </div>

  <h3 class="profile-card__name" itemprop="name">{{ author.name }}</h3>
  {% if author.bio %}
    <div class="profile-card__bio" itemprop="jobTitle">
      {% if author.bio.first %}
        {% for role in author.bio %}
          <p>{{ role }}</p>
        {% endfor %}
      {% else %}
        <p>{{ author.bio }}</p>
      {% endif %}
    </div>
  {% endif %}
  {% if author.location %}
    <p class="profile-card__location">
      <i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ author.location }}
    </p>
  {% endif %}

  {% if author.github %}
    <div class="profile-card__actions">
      <a class="profile-card__follow" href="https://github.com/{{ author.github }}">
        <i class="fab fa-github" aria-hidden="true"></i> Follow
      </a>
    </div>
  {% endif %}

  <div class="profile-card__social">
    {% if author.email %}
      <a href="mailto:{{ author.email }}" title="Email"><i class="fas fa-envelope" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.github %}
      <a href="https://github.com/{{ author.github }}" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.strava %}
      <a href="https://strava.com/athletes/{{ author.strava }}" title="Strava"><i class="fab fa-strava" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.twitter %}
      <a href="https://twitter.com/{{ author.twitter }}" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.facebook %}
      <a href="https://www.facebook.com/{{ author.facebook }}" title="Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.instagram %}
      <a href="https://instagram.com/{{ author.instagram }}" title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.youtube %}
      <a href="https://www.youtube.com/user/{{ author.youtube }}" title="YouTube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.uri %}
      <a href="{{ author.uri }}" title="Website"><i class="fas fa-link" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.keybase %}
      <a href="https://keybase.io/{{ author.keybase }}" title="Keybase"><i class="fas fa-key" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.researchgate %}
      <a href="{{ author.researchgate }}" title="ResearchGate"><i class="fab fa-researchgate" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.google_plus %}
      <a href="https://plus.google.com/+{{ author.google_plus }}" title="Google+"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.xing %}
      <a href="https://www.xing.com/profile/{{ author.xing }}" title="XING"><i class="fab fa-xing" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.tumblr %}
      <a href="https://{{ author.tumblr }}.tumblr.com" title="Tumblr"><i class="fab fa-tumblr" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.bitbucket %}
      <a href="https://bitbucket.org/{{ author.bitbucket }}" title="Bitbucket"><i class="fab fa-bitbucket" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.stackoverflow %}
      <a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" title="Stack Overflow"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.lastfm %}
      <a href="https://lastfm.com/user/{{ author.lastfm }}" title="Last.fm"><i class="fab fa-lastfm" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.dribbble %}
      <a href="https://dribbble.com/{{ author.dribbble }}" title="Dribbble"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.pinterest %}
      <a href="https://www.pinterest.com/{{ author.pinterest }}" title="Pinterest"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.foursquare %}
      <a href="https://foursquare.com/{{ author.foursquare }}" title="Foursquare"><i class="fab fa-foursquare" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.steam %}
      <a href="https://steamcommunity.com/id/{{ author.steam }}" title="Steam"><i class="fab fa-steam" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.soundcloud %}
      <a href="https://soundcloud.com/{{ author.soundcloud }}" title="SoundCloud"><i class="fab fa-soundcloud" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.weibo %}
      <a href="https://www.weibo.com/{{ author.weibo }}" title="Weibo"><i class="fab fa-weibo" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.flickr %}
      <a href="https://www.flickr.com/{{ author.flickr }}" title="Flickr"><i class="fab fa-flickr" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.codepen %}
      <a href="https://codepen.io/{{ author.codepen }}" title="CodePen"><i class="fab fa-codepen" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.vine %}
      <a href="https://vine.co/u/{{ author.vine }}" title="Vine"><i class="fab fa-vine" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.googlescholar %}
      <a href="{{ author.googlescholar }}" title="Google Scholar"><i class="fas fa-graduation-cap" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.pubmed %}
      <a href="{{ author.pubmed }}" title="PubMed"><i class="ai ai-pubmed ai-fw" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.orcid %}
      <a href="{{ author.orcid }}" title="ORCID"><i class="ai ai-orcid ai-fw" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.impactstory %}
      <a href="{{ author.impactstory }}" title="Impactstory"><i class="ai ai-impactstory ai-fw" aria-hidden="true"></i></a>
    {% endif %}
    {% if author.wikipedia %}
      <a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}" title="Wikipedia"><i class="fab fa-wikipedia-w" aria-hidden="true"></i></a>
    {% endif %}
  </div>

</div>
