{% assign base_path = site.baseurl %}
{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Pagination">
  <ul>
    {% comment %} Link for previous page {% endcomment %}
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: base_path }}" class="pagination__prev">&laquo; Prev</a></li>
    {% else %}
      <li><a href="#" class="pagination__prev disabled">&laquo; Prev</a></li>
    {% endif %}

    {% comment %} First page {% endcomment %}
    {% if paginator.page == 1 %}
      <li><a href="#" class="disabled current">1</a></li>
    {% else %}
      <li><a href="{{ '/blog/' | prepend: base_path }}">1</a></li>
    {% endif %}

    {% assign page_start = 2 %}
    {% if paginator.page > 4 %}
      {% assign page_start = paginator.page | minus: 2 %}
      <li><a href="#" class="disabled pagination__ellipsis">&hellip;</a></li>
    {% endif %}

    {% assign page_end = paginator.total_pages | minus: 1 %}
    {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
    {% if pages_to_end > 4 %}
      {% assign page_end = paginator.page | plus: 2 %}
    {% endif %}

    {% for index in (page_start..page_end) %}
      {% if index == paginator.page %}
        <li><a href="{{ site.paginate_path | prepend: base_path | replace: ':num', index }}" class="disabled current">{{ index }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | prepend: base_path | replace: ':num', index }}">{{ index }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pages_to_end > 3 %}
      <li><a href="#" class="disabled pagination__ellipsis">&hellip;</a></li>
    {% endif %}

    {% if paginator.page == paginator.total_pages %}
      <li><a href="#" class="disabled current">{{ paginator.page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | prepend: base_path | replace: ':num', paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
    {% endif %}

    {% comment %} Link next page {% endcomment %}
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: base_path }}" class="pagination__next">Next &raquo;</a></li>
    {% else %}
      <li><a href="#" class="pagination__next disabled">Next &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
